.mainBox{
    height: 300px;
    width: 100%;
    background: url("images/pic1.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.afterHoverBox{
    height: 100%;
    width: 100%;
    background: rgba(68, 51, 51, 0.826);
    opacity: 0;
    position: absolute;
    transition: 0.8s;
}
.slideLeft{
    top: 0;
    left: 100%;
}
.mainBox:hover .slideLeft{
    left: 0;
}
.slideRight{
    top: 0;
    right: 100%;
}
.mainBox:hover .slideRight{
    right: 0;
}
.slideUp{
    top: 100%;
    left: 0;
}
.mainBox:hover .slideUp{
    top: 0;
}
.slideDown{
    left: 0;
    bottom: 100%;
}
.mainBox:hover .slideDown{
    bottom: 0;
}

.mainBox:hover .afterHoverBox{
    opacity: 1;
}



.slideUpperLeft{
    left: 100%;
    top: 100%;
}
.mainBox:hover .slideUpperLeft{
    top: 0;
    left: 0;
}
.slideUpperRight{
    right: 100%;
    top: 100%;
}
.mainBox:hover .slideUpperRight{
    top: 0;
    right: 0;
}
.slideLoweRight{
    right: 100%;
    bottom: 100%;
}
.mainBox:hover .slideLoweRight{
    bottom: 0;
    right: 0;
}
.slideLowerLeft{
    left: 100%;
    bottom: 100%;
}
.mainBox:hover .slideLowerLeft{
    bottom: 0;
    left: 0;
}







.contentBody{
    padding: 0 50px;
    text-align: center;
}
.d-flex{
    height: 100% !important;
}
.btn1{
    background: #ffffff;
}
.btn1:hover{
    background: #ffffff88;
}


.hoverDiv3 .afterHoverBox{
    transition: 0.5s;
    /* opacity: 1; */
}

.textRight{
    
}

.icons{
    width: 50px;
    height: 50px;
    margin: 6px 0;
    /* position: relative; */
    overflow: hidden;
}

.animatedIconBox{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}
.animatedIconBox:hover{
    background: #ffffff88;
}
.aaa{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.bb1{
    position: absolute;
    /* top: 20%; */
    /* left: 40%; */
    -ms-transform: translate(110%,-210%);
    transform: translate(110%,-210%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bb1{
    -ms-transform: translate(10%,-110%);
    transform: translate(10%,-110%);
    opacity: 1;
}
.bb2{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(-210%,-210%);
    transform: translate(-210%,-210%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bb2{
    -ms-transform: translate(-110%,-110%);
    transform: translate(-110%,-110%);
    opacity: 1;
}
.bb3{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(110%,110%);
    transform: translate(110%,110%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bb3{
    -ms-transform: translate(10%,10%);
    transform: translate(10%,10%);
    opacity: 1;
}
.bb4{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(-210%,110%);
    transform: translate(-210%,110%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bb4{
    -ms-transform: translate(-110%,10%);
    transform: translate(-110%,10%);
    opacity: 1;
}


.hoverDiv4 .afterHoverBox{
    transition: 1s;
    /* opacity: 1; */
}
.bbb1{
    position: absolute;
    /* top: 20%; */
    /* left: 40%; */
    -ms-transform: translate(10%,-210%);
    transform: translate(10%,-210%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bbb1{
    -ms-transform: translate(10%,-110%);
    transform: translate(10%,-110%);
    opacity: 1;
}
.bbb2{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(-210%,-110%);
    transform: translate(-210%,-110%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bbb2{
    -ms-transform: translate(-110%,-110%);
    transform: translate(-110%,-110%);
    opacity: 1;
}
.bbb3{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(110%,10%);
    transform: translate(110%,10%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bbb3{
    -ms-transform: translate(10%,10%);
    transform: translate(10%,10%);
    opacity: 1;
}
.bbb4{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(-110%,110%);
    transform: translate(-110%,110%);
    opacity: 0;
    transition: 1s;
}
.mainBox:hover .bbb4{
    -ms-transform: translate(-110%,10%);
    transform: translate(-110%,10%);
    opacity: 1;
}

.testTracker{
    height: 150px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 1px solid #888;
}

.slideLeft1{
    top: 0; 
    left: 100%; 
}
.mainBox:hover .slideLeft1{
    /* left: 0; */
}