.mainBox{
    height: 300px;
    width: 100%;
    background: url("images/pic1.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.afterHoverBox{
    height: 100%;
    width: 100%;
    background: rgba(68, 51, 51, 0.826);
    opacity: 0;
    position: absolute;
    transition: 0.8s;
}
.slideLeft{
    top: 0;
    left: 100%;
}
.mainBox:hover .slideLeft{
    left: 0;
}
.slideRight{
    top: 0;
    right: 100%;
}
.mainBox:hover .slideRight{
    right: 0;
}
.slideUp{
    top: 100%;
    left: 0;
}
.mainBox:hover .slideUp{
    top: 0;
}
.slideDown{
    left: 0;
    bottom: 100%;
}
.mainBox:hover .slideDown{
    bottom: 0;
}

.mainBox:hover .afterHoverBox{
    opacity: 1;
}



.slideUpperLeft{
    left: 100%;
    top: 100%;
}
.mainBox:hover .slideUpperLeft{
    top: 0;
    left: 0;
}
.slideUpperRight{
    right: 100%;
    top: 100%;
}
.mainBox:hover .slideUpperRight{
    top: 0;
    right: 0;
}
.slideLoweRight{
    right: 100%;
    bottom: 100%;
}
.mainBox:hover .slideLoweRight{
    bottom: 0;
    right: 0;
}
.slideLowerLeft{
    left: 100%;
    bottom: 100%;
}
.mainBox:hover .slideLowerLeft{
    bottom: 0;
    left: 0;
}











.contentBody{
    padding: 0 50px;
    text-align: center;
}
.d-flex{
    height: 100% !important;
}
.btn1{
    background: #ffffff;
}
.btn1:hover{
    background: #ffffff88;
}
